/* ==UserStyle==
@name           reddit - layout
@namespace      budlabs
@version        1.0.0
@description    aesthetic fixes for old.reddit.com
@author         budRich
==/UserStyle== */

@-moz-document domain("reddit.com") {
  #siteTable, .content {
    width: 70vw;
    max-width: 666px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  
  .score.unvoted { display: block ; text-align: right; }
  .midcol {float: right ; padding-top: 5px; }
  .thumbnail { margin-right: 16px; }

  .thing { margin: 1rem 0; }
}
