
/* makes statusbar icons "larger" */
.button-toolbar {
  align-self: stretch;
}

/* extbuttons more horizontally compact*/
.toolbar-extensions {
  flex-shrink: 1;
}

.toolbar-mainbar > .button-toolbar > button, .toolbar-mainbar > .toolbar-group > .button-toolbar > button {    
    min-width: 24px;
    height: 24px;
}

.page-zoom-controls .zoom-percent {
  width: auto;
}

.toolbar-statusbar {
  width: -webkit-fill-available ;
  border-top: none;
}

.toolbar-mainbar {
  justify-content: space-between;
}


